@charset "UTF-8";
* {
  /*bxz*/
  /*el tamaño de la caja incluye margin y border*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header, body, footer, ul, h1, h2, h3, .works .works__container .work__title, h3, .works .works__container .work__title, p, .works .works__container .work__description, div, img {
  padding: 0px;
  margin: 0px auto; }

html {
  font-size: 14px; }

html {
  font-size: 16px; }

h1 {
  font: 2.5rem "Oleo Script", "serif"; }

h2, h3, .works .works__container .work__title {
  font: bold 1.1rem "Asap", "Helvetica", "sans-serif"; }

h3, .works .works__container .work__title {
  font-weight: normal; }

p, .works .works__container .work__description {
  font: 1rem "Asap", "Helvetica", "sans-serif"; }

header,
section {
  background: #FFFFFF; }

.introduction {
  position: relative;
  margin-top: 25vh;
  padding: 25px 0;
  text-align: center;
  background-color: #FFFFFF; }
  .introduction h1 {
    padding: 5px 0 15px 0; }
  .introduction h2, .introduction h3, .introduction .works .works__container .work__title, .works .works__container .introduction .work__title {
    padding: 10px 0; }
  .introduction .img_social {
    width: 25px; }
  .introduction .myProfile {
    border-top: 1px solid #FFAA00;
    border-bottom: 1px solid #FFAA00;
    padding: 0 5px; }
  .introduction .social {
    padding: 20px 0 10px 0; }
  .introduction .social a {
    padding: 0 12px; }

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 35vh;
  background-image: url("http://placekitten.com/320/200");
  background-repeat: no-repeat;
  background-size: cover; }

.works {
  text-align: center;
  padding: 30px 0 0 0; }
  .works .works__container .work {
    padding: 15px 5px; }
    .works .works__container .work__title {
      font: 1.2rem "Oleo Script", "serif"; }

.searchingWork {
  background-color: #FFAA00;
  margin: 30px 0;
  padding: 20px 5px; }
  .searchingWork p, .searchingWork .works .works__container .work__description, .works .works__container .searchingWork .work__description {
    font-weight: 600;
    text-align: center; }

footer {
  border-top: 1px solid #FFAA00;
  border-bottom: 1px solid #FFAA00;
  text-align: center;
  margin: 20px 0;
  padding: 10px 0; }
  footer .footer__name {
    font: bold 1rem "Oleo Script", "serif"; }
  footer .footer__contact {
    vertical-align: middle;
    font: 0.8rem "Asap", "Helvetica", "sans-serif"; }
    footer .footer__contact a img {
      vertical-align: middle;
      width: 18px; }

@media screen and (min-width: 400px) {
  .introduction {
    width: 80vw;
    background-color: #FFAA00;
    position: relative;
    margin-top: 25vh; }
  .works {
    border-top: 1px solid #FFAA00;
    border-bottom: 1px solid #FFAA00;
    margin: 30px 0 0 0; }
  .searchingWork {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 20px; } }

@media screen and (min-width: 768px) {
  html {
    font-size: 18px; }
  .introduction {
    width: 70vw; }
  .works__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .work {
    width: 40%; }
  .searchingWork {
    width: 70vw; } }

@media screen and (min-width: 1280px) {
  main {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; }
  header,
  footer {
    width: 100vw; }
  section.works {
    width: 67vw; }
  section.searchingWork {
    width: 33vw;
    margin-bottom: 0px; }
    section.searchingWork p, section.searchingWork .works .works__container .work__description, .works .works__container section.searchingWork .work__description {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      line-height: 1.5rem; } }
